body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* App.css */
.table-container {
  margin-top: 20px;
}

table {
  width: calc(100% - 40px); /* Adjusted width to accommodate the space */
  border-collapse: collapse;
  margin: 20px 20px; /* Added margin for space on the right and left */
}


th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}



.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-item {
  margin: 0 5px;
  list-style: none;
}

.page-link {
  padding: 8px 12px;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.page-link:hover {
  background-color: #f2f2f2;
}

.page-link:focus {
  outline: none;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  background-color: #fff;
  border-color: #dee2e6;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

/* Add styling for the search input */
.search-pagination-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}


.search-pagination {
  height: 20px;
  width: 500px;
  margin: 0px 20px; /* Adjust the width as needed */
}

/* Style for the sort dropdown */
.sort-dropdown {
  width: 13%;
  
}

/* Style for the form label */
.form-label {
  margin-bottom: 0;
}

/* Adjust the table margin */
.table-container {
  margin-top: 20px;
  margin-bottom: 20px;
}
